/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&family=Merriweather:wght@300;400;700&display=swap');

/* Colors */
:root {
    --primary-color: #0E0E10;
    --secondary-color: #EDEDED;
    --accent1-color: #E07A5F;
    --accent2-color: #81B29A;

    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: "Merriweather", serif;
}

/* Global */
body {
    margin: 0;
    padding: 0;
    background: var(--secondary-color);
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

main {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary-color);
    padding: 1rem 2rem;
    border-bottom: 3px solid var(--accent1-color);
}

.logo img {
    width: 90px;        
    height: auto;
    margin: 0;
}

/* Navigation */
nav {
    display: flex;
    gap: 1rem;
    
}

nav a {
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 600;
    font-family: var(--heading-font);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

nav a:hover {
    background: var(--secondary-color);
    color: var(---primary-color);
}

/* Nav Link hover dorpdowns */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 600;
    font-family: var(--heading-font);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 180px;
    border-radius: 5px;
    box-shadow: 0px 8px 14px rgba(0,0,0,0.25);
    z-index: 10;
    overflow: hidden;
}

.dropdown-content a {
    color: var(--secondary-color);
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
    font-family: var(--heading-font);
    font-size: 1rem;
}

.dropdown-content a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Hero section */
.hero {
    text-align: center;
    padding: 3rem 0;
}

.hero h1 {
    font-family: var(--heading-font);
    font-size: 3.2rem;
    font-weight: 600;
}

.hero h1 span {
    color: var(--accent1-color);
}

.hero p {
    margin-top: 1rem;
    font-size: 1.2rem;
    opacity: 0.9;
}

.hero-img {
    margin-top: 2rem;
    width: 500px;
    border-radius: 12px;
    margin: 2rem auto 0 auto;
    border: 4px solid var(--accent2-color);
}

/* About section */
.about {
    text-align: center;
    padding: 3rem 0;
}

.about h2 {
    font-family: var(--heading-font);
    font-size: 2rem;
    color: var(--primary-color);
}

.about p {
    max-width: 800px;
    margin: 1rem auto;
    line-height: 1.6;
    font-size: 1.1rem;
}

/* Experience seciton */
.experience {
    padding: 3rem 0;
}

.experience h2 {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 2rem;
}

.experience ul {
    max-width: 800px;
    margin: 1.5rem auto;
    padding-left: 1.2rem;
    line-height: 1.6;
}

.experience li {
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
}

.small-img {
    width: 330px;
    border-radius: 12px;
    margin: 2rem auto 0 auto;
    border: 4px solid var(--accent1-color);
}

/* Footer */
footer {
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
    font-family: var(--heading-font);
}

.footer-link {
    color: var(--secondary-color);
    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: 600;
}

.footer-link:hover {
    color: var(--accent2-color);
    text-decoration: underline;
}